<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sushe.susheguanli.mapper.SysDormitoryRoomMapper">
    
    <resultMap type="SysDormitoryRoom" id="SysDormitoryRoomResult">
        <result property="roomId"    column="room_id"    />
        <result property="buildingId"    column="building_id"    />
        <result property="roomNumber"    column="room_number"    />
        <result property="floorNumber"    column="floor_number"    />
        <result property="bedCount"    column="bed_count"    />
        <result property="bedOccupied"    column="bed_occupied"    />
        <result property="roomType"    column="room_type"    />
        <result property="roomStatus"    column="room_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysDormitoryRoomVo">
        select room_id, building_id, room_number, floor_number, bed_count, bed_occupied, room_type, room_status, create_by, create_time, update_by, update_time, remark from my_dormitory_room
    </sql>

    <select id="selectSysDormitoryRoomList" parameterType="SysDormitoryRoom" resultMap="SysDormitoryRoomResult">
        <include refid="selectSysDormitoryRoomVo"/>
        <where>  
            <if test="buildingId != null "> and building_id = #{buildingId}</if>
            <if test="roomNumber != null  and roomNumber != ''"> and room_number = #{roomNumber}</if>
            <if test="floorNumber != null "> and floor_number = #{floorNumber}</if>
            <if test="roomType != null  and roomType != ''"> and room_type = #{roomType}</if>
            <if test="roomStatus != null  and roomStatus != ''"> and room_status = #{roomStatus}</if>
        </where>
    </select>
    
    <select id="selectSysDormitoryRoomByRoomId" parameterType="Long" resultMap="SysDormitoryRoomResult">
        <include refid="selectSysDormitoryRoomVo"/>
        where room_id = #{roomId}
    </select>

    <insert id="insertSysDormitoryRoom" parameterType="SysDormitoryRoom" useGeneratedKeys="true" keyProperty="roomId">
        insert into my_dormitory_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="buildingId != null">building_id,</if>
            <if test="roomNumber != null and roomNumber != ''">room_number,</if>
            <if test="floorNumber != null">floor_number,</if>
            <if test="bedCount != null">bed_count,</if>
            <if test="bedOccupied != null">bed_occupied,</if>
            <if test="roomType != null and roomType != ''">room_type,</if>
            <if test="roomStatus != null and roomStatus != ''">room_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="buildingId != null">#{buildingId},</if>
            <if test="roomNumber != null and roomNumber != ''">#{roomNumber},</if>
            <if test="floorNumber != null">#{floorNumber},</if>
            <if test="bedCount != null">#{bedCount},</if>
            <if test="bedOccupied != null">#{bedOccupied},</if>
            <if test="roomType != null and roomType != ''">#{roomType},</if>
            <if test="roomStatus != null and roomStatus != ''">#{roomStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysDormitoryRoom" parameterType="SysDormitoryRoom">
        update my_dormitory_room
        <trim prefix="SET" suffixOverrides=",">
            <if test="buildingId != null">building_id = #{buildingId},</if>
            <if test="roomNumber != null and roomNumber != ''">room_number = #{roomNumber},</if>
            <if test="floorNumber != null">floor_number = #{floorNumber},</if>
            <if test="bedCount != null">bed_count = #{bedCount},</if>
            <if test="bedOccupied != null">bed_occupied = #{bedOccupied},</if>
            <if test="roomType != null and roomType != ''">room_type = #{roomType},</if>
            <if test="roomStatus != null and roomStatus != ''">room_status = #{roomStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where room_id = #{roomId}
    </update>

    <delete id="deleteSysDormitoryRoomByRoomId" parameterType="Long">
        delete from my_dormitory_room where room_id = #{roomId}
    </delete>

    <delete id="deleteSysDormitoryRoomByRoomIds" parameterType="String">
        delete from my_dormitory_room where room_id in 
        <foreach item="roomId" collection="array" open="(" separator="," close=")">
            #{roomId}
        </foreach>
    </delete>
</mapper>